.dropdown {
  position: relative;
}

.fill-center {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anchor {
  cursor: pointer;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-callout {
  top: 20%;
  left: 40%;
}

/** Viewer **/
.c-table__row__cell {
  overflow-wrap: break-word;
}

.select-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-chk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-table__row__cell__sortable:before {
  display: none;
}

.c-table__row__cell__sortable:before:hover {
  display: none;
}

.c-table__row__cell__sortable {
  padding: 12px;
}

.c-table__row__cell.c-table__row__cell__sortable.is-ascending:after,
.c-table__row__cell.c-table__row__cell__sortable.is-descending::after {
  opacity: 1;
}

/** Import **/
/* Upload control */
.upload-control {
  width: 100%;
  height: 100px;
  border-style: dashed;
}

.file_input {
  margin-bottom: 0;
  position: relative;
}

.file_input .instructions {
  height: 100%;
}

.file_input input {
  opacity: 0;
  height: 50px;
  width: 100%;
  position: absolute;
}

.file_input button {
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  outline: none;
}

.file_input button:hover {
  background: #149174;
  color: #0C5645;
}

.file_input button button:active {
  border: 0;
}

.selected_file {
  height: 100%;
}

.selected_file svg {
  width: 13px;
  margin: 0 5px;
  cursor: pointer;
}

/* Progress Bar */
.progressbar {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

#myProgress {
  width: 100%;
  background-color: #ccc;
  margin: 5 0;
}

#myBar {
  width: 1%;
  height: 8px;
  background-color: #30aabc;
}

.meter {
  margin: 15px;
  height: 8px;
  position: relative;
  background: #f5f5f5;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter span {
  display: block;
  height: 100%;
  background-color: #00a0e8;
  background-image: -moz-linear-gradient(center bottom, #00a0e8 37%, #00a0e8 69%);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.meter span :after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -moz-linear-gradient(-45deg, #00a0e8 25%, transparent 25%, transparent 50%, #00a0e8 50%, #00a0e8 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.meter .animate span span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -moz-linear-gradient(-45deg, #00a0e8 25%, transparent 25%, transparent 50%, #00a0e8 50%, #00a0e8 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.meter .animate span :after {
  display: none;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
/*# sourceMappingURL=style.css.map */